<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>004--方法交换.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>07882F341E4A053100DD1538</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07882F4D1E4A053100DD1538</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07882F581E4A053100DD1538</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
