<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>001--RunLoop初体验.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>07882D621E47565D00DD1538</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07882D7B1E47565D00DD1538</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07882D861E47565D00DD1538</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
